<h1>Add your new movie here!</h1>

<br>
<form action="/movies" method="POST">
  <label for="movie_name"><strong>Name</strong></label>
  <input type="text" id="movie_name" name="movie[name]"></input>
  <br>
  <br>
  <label for="movie_genre"><strong>Genre</strong></label>
  <input type="text" id="movie_genre" name="movie[genre]"></input>
  <br>
  <br>
  <label for="movie_release_date"><strong>Release Date</strong></label>
  <input type="text" id="movie_release_date" name="movie[release_date]"></input>
  <br>
  <br>
  <label for="director_name"><strong>Director Name</strong></label>
  <input type="text" id="director_name" name="movie[director][][name]"></input>
  <br>
  <br>
  <label for="director_age"><strong>Director Age</strong></label>
  <input type="text" id="director" name="movie[director][][age]"></input>
  <br>
  <br>
  <label for="director_nationality"><strong>Director Nationality</strong></label>
  <input type="text" id="director" name="movie[director][][nationality]"></input>
  <br>
  <br>
  <label for="actor_one_name"><strong>Actor 1 Name</strong></label>
  <input type="text" id="actor_one_name" name="movie[actors][][name]"></input>
  <br>
  <br>
  <label for="actor_one_age"><strong>Actor 1 Age</strong></label>
  <input type="text" id="actor_one_age" name="movie[actors][][age]"></input>
  <br>
  <br>
  <label for="actor_one_nationality"><strong>Actor 1 Nationality</strong></label>
  <input type="text" id="actor_one_nationality" name="movie[actors][][nationality]"></input>
  <br>
  <br>
  <label for="actor_two_name"><strong>Actor 2 Name</strong></label>
  <input type="text" id="actor_two_name" name="movie[actors][][name]"></input>
  <br>
  <br>
  <label for="actor_two_age"><strong>Actor 2 Age</strong></label>
  <input type="text" id="actor_two_age" name="movie[actors][][age]"></input>
  <br>
  <br>
  <label for="actor_two_nationality"><strong>Actor 2 Nationality</strong></label>
  <input type="text" id="actor_two_nationality" name="movie[actors][][nationality]"></input>
  <br>
  <br>
  <input type="submit">
</form>
