<h1>Selected Movie</h1>

<br>

<p><strong>Name:</strong> <%= @movie.name %><br>
<strong>Genre:</strong> <%= @movie.genre %><br>
<strong>Release Date:</strong> <%= @movie.release_date %><br>
<strong>Director:</strong> <%= @movie.director.name %></p>
