<h1>Add your new director here!</h1>

<br>
<form action="/directors" method="POST">
  <label for="director_name"><strong>Name</strong></label>
  <input type="text" id="director_name" name="director[name]"></input>
  <br>
  <br>
  <label for="director_age"><strong>Age</strong></label>
  <input type="text" id="director_age" name="director[age]"></input>
  <br>
  <br>
  <label for="director_nationality"><strong>Nationality</strong></label>
  <input type="text" id="director_nationality" name="director[nationality]"></input>
  <br>
  <br>
  <input type="submit">
</form>
